nav .navbar-brand
{
    /* size for brand */
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

button[type="submit"] {
    background-color: #9faa00;
    color: white;
    padding: 0.75em 1.5em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1em;
}

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #e9ecb6; /* Slightly less opaque */
    z-index: 1000;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

.navbar-brand img {
    max-height: 80px;
  }

  @media (max-width: 767px) {
    .navbar-brand img {
      max-height: 50px;
    }
  }

main .form-control
{
    /* Center form controls */
    display: inline-block;

    /* Override Bootstrap's 100% width for form controls */
    width: auto;
}

main
{
    /* Scroll horizontally as needed */
    overflow-x: auto;

    /* Center contents */
    text-align: center;
}

main img
{
    /* Constrain images on small screens */
    max-width: 100%;
}

footer {
    background-color: #f6f7e9;
    color: rgb(0, 0, 0);
    padding: 20px 0;
    text-align: center;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
    position: relative;
    bottom: 0;
    width: 100%;
}

section {
    margin: 1em 0;
    padding: 2em;
    background-color: #ffffff; /* White background for better contrast */
    border: 1px solid #ddd; /* Light border for separation */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Add subtle shadow for depth */
}

section h2 {
    font-size: 1.5em;
    margin-bottom: 1em;
    color: #333; /* Darker color for better readability */
}

section p {
    line-height: 1.6;
    color: #666; /* Slightly lighter color for text */
}

form {
    background-color: white;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 400px;
}

.form-group {
    margin-bottom: 20px;
}