{% extends "layout.html" %}

{% block title %}
    Articles
{% endblock %}

{% block main %}
    {% for i in all_articles %}
    <section>
        <h2>{{ i["title"] }}</h2>
        <p>
            {{ i["article"]|safe }}
        </p>
        <p>
            source: {{ i["source"] }}
        </p>
        {% if session.user_id == 1 %}
            <p>
                id: {{ i["id"] }}
            </p>
        {% endif %}
    </section>
    {% endfor %}

    <!-- Comment form section for user input -->
    <section id="comment-form">
        <h2>Leave a Comment</h2>
        <div style="display: flex; justify-content: center; align-items: center; min-height: 60vh; margin: 0;">
            <form action="/comment" method="post">
                <div class="form-group">
                    <input autocomplete="off" class="form-control" name="name" placeholder="Name" type="text" required>
                </div>
                <div class="form-group">
                    <textarea class="form-control" name="comment" type="text" placeholder="Comment here" row="4" required></textarea>
                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
    </section>

    <!-- Section for displaying comments -->
    <section id="comments">
        <h2>Comments</h2>
        <div id="comments-list">
            {% for i in all_comments %}
            <section>
                <h2>{{ i["username"] }}</h2>
                <p>
                    {{ i["comment"] }}
                </p>
                <p>
                    Published: {{ i["date"] }}
                </p>
                {% if session.user_id == 1 %}
                <p> 
                    id : {{i["id"]}}
                </p>
                {% endif %}
            </section>
            {% endfor %}
        </div>
    </section>

{% endblock %}