{% extends "layout.html" %}

{% block title %}
    Doctors
{% endblock %}

{% block main %}
    {% for i in all_doctors %}
    <section>
        <h2>{{ i["name"] }}</h2>
        <img width="300" height="200" src="{{ i['picture'] }}">
        <p> Address: {{ i["address"] }}</p>
        <p> Rate: {{ i["rate"] }}/10</p>
        {% if session.user_id == 1 %}
            <p>
                id: {{ i["id"] }}
            </p>
        {% endif %}
    </section>
    {% endfor %}
{% endblock%}