{% extends "layout.html" %}

{% block main %}
<!-- section 1 -->
<a href="/articles">
<section id="section1">
    <h2>Articles</h2>
    <p>HERE ARTICLES FOR USERS</p>
</section>
</a>

<a href="/videos">
<section id="section2">
    <!-- section 2 -->
    <h2>Videos</h2>
    <p>HERE VIDEOS FOR TIPS AND SESSIONS</p>
</section>
</a>

<a href="/doctors">
<section id="section3">
    <!-- section 3 -->
    <h2>Doctors</h2>
    <P>HERE A Doctor's LIST FOR THE PATIENTS</P>
</section>
</a>
{% endblock %}