{% extends "layout.html" %}

{% block title %}
    Home Page
{% endblock %}

{% block main %}
<!-- section 1 -->
<section>
    <h1>Welcome, {{ user[0]["username"] }}</h1>
    <h3>your age: {{ user[0]["age"] }}</h3>
    <h3>your status: {{ user[0]["status"] }}</h3>
</section>

<a href="/articles">
<section id="section1">
    <h2>Articles</h2>
    <p>HERE USEFUL ARTICLES FOR USERS</p>
</section>
</a>

<a href="/videos">
<section id="section2">
    <!-- section 2 -->
    <h2>Videos</h2>
    <p>HERE VIDEOS FOR TIPS AND SESSIONS</p>
</section>
</a>

<a href="/doctors">
<section id="section3">
    <!-- section 3 -->
    <h2>Doctors</h2>
    <P>HERE A Doctor's LIST FOR THE PATIENTS</P>
</section>
</a>

<a href="/tests">
    <section id="section4">
        <h2>Tests</h2>
        <p>Test what is your anxiety level</p>
    </section>
</a>
{% endblock %}