{% extends "layout.html" %}
{% block title%}
    Change Password
{%endblock%}

{% block main %}
<section>
    <h1>Change your password</h1>
</section>

<div style="display: flex; justify-content: center; align-items: center; min-height: 60vh; margin: 0;">
    <form action="/password" method="post">
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="curr_password" placeholder="Current password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="new_password" placeholder="New Password" type="password" required>
        </div>
        <div class="form-group">
            <input autocomplete="off" autofocus class="form-control" name="confirm_password" placeholder="Confirm Password" type="password" required>
        </div>

        <button class="btn btn-primary" type="submit">Change</button>
    </form>
</div>
{% endblock %}