{% extends "layout.html" %}

{% block main %}

    {% for i in all_videos %}
    <section>
        <h2>{{ i["title"] }}</h2>
        <iframe width="450" height="400" src="{{ i['url'] }}">
        </iframe>
        {% if session.user_id == 1 %}
            <p>
                id: {{ i["id"] }}
            </p>
        {% endif %}
    </section>
    {% endfor %}

    <!-- Section for displaying comments -->
    <section id="comments">
        <h2>Comments</h2>
        <div id="comments-list">
            {% for i in all_comments %}
            <section>
                <h2>{{ i["username"] }}</h2>
                <p>
                    {{ i["comment"] }}
                </p>
                <p>
                    Published: {{ i["date"] }}
                </p>
            </section>
            {% endfor %}
        </div>
    </section>

{% endblock %}